* {
    box-sizing: border-box;
}

.gallery {
    width: 1440px;
    background-color: rgb(255, 255, 255);
    padding: 24px 156px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-image {
    width: 360px;
    height: auto;
    display: block;
}

